footer .about_background {
    background-image: url(../Content/footer-bground.png);
    background-size: contain;
    background-repeat: inherit;

    display: inline-flex;
    justify-content: left;
    background-color: black;

    width: 100%;
    height: 500px;
    color: white;
}


footer .about-descr {
    text-align: center;
    padding-top: 200px;
    padding-left: 400px;

    font-weight: 600;
    color: white;
}

footer .logo_ft {
    margin-top: 150px;
    width: 251px;
    height: 251px;
}

footer .ft_name {
    font-family: "Helvetica", "Arial", sans-serif;

    margin-top: 250px;
    margin-left: 10px;

    font-weight: 900;
    font-size: 40px;
    color: black;
}

footer .contact_tags{
    text-decoration: none;
    color: white;
}

footer .x_logo {
    width: 25px;
    height: 25px;
}

footer .tg_logo {
    width: 25px;
    height: 25px;
}

footer .github_logo {
    width: 25px;
    height: 25px;
    
}


footer .contact_tags:hover {
    text-decoration-line: underline;
}

footer .contact_tags:active {
    color: #292D57;
}
