body {
    font-family: "Helvetica", "Arial", sans-serif;

    margin: 0;
}


header .background_image {
    background-image: url(../Content/wp-pixel-art-wallpapers.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;

    width: 100%;
    height: 600px;
}


header .logo {
    display: flex;
    align-items: baseline;
    justify-content: center;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    box-shadow: 0px 0px 10px black;
    background-color: #4573A3;
    margin-left: 10px;

    width: 90px;
    height: 110px;
}


header .name {
    font-family: "Helvetica", "Arial", sans-serif;

    font-weight: 900;
    font-size: 40px;
    color: white;

    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}


header .menu_background {
    display: flex;
    justify-content: left;
    align-items: right;

    background-color: #62136e2f;
    width: 600px;
    height: 80px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px black;

    margin-right: 600px;
    margin-left: 100px;
    margin-top: 20px;
}

header table {
    margin-left: 15px;
}

header .menu_buttons {
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}


header .menu_btn {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    width: 150px;
    height: 35px;
}


header .menu_btn:hover {
    text-decoration-line: underline;
}

header .menu_btn:active {
    color: #292D57;
}