body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
}

main .main_pages {
    background-image: url(../Content/main-bground.png);
    background-size: contain;
    background-repeat:round;
 
    width: 100%;
    height: max-content;

    display:inline-flex;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
}

main .game_page {
    float: left;
    text-align:center;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;

    width: 300px;
    height: 400px;

    border-radius: 20px;
    background-color: #172337;
}

main .game_page:hover {
    box-shadow: 0px 0px 20px gray;
}